$danger: #f93154;
$success: #00b74a;
$primary: #1266f1;
$secondary: #464646;
$dark: #262626;
$light: #dcdcdc;
$warning: #ffa900;
$booking: #31aa4c;
$primary-dark: #0c49aa;
$primary-light: #d2e3ff;
$light-tr: #dcdcdcbd;
$light-dark: #b8b8b8;
$red: red;
$yellow: yellow;
$gold: gold;
$blue: blue;
$green: green;
$white: white;
$black: black;

// $no-show: $light;

$theme-colors: (
  'danger': $danger,
  'success': $success,
  'primary': $primary,
  'primary-dark': $primary-dark,
  'primary-light': $primary-light,
  'light-dark': $light-dark,
  'secondary': $secondary,
  'dark': $dark,
  'light': $light,
  'warning': $warning,
  'booking': $booking,
  'light-tr': $light-tr,
  'red': $red,
  'yellow': $yellow,
  'gold': $gold,
  'blue': $blue,
  'green': $green,
  'white': $white,
  'black': $black,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
