.app-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff !important;
  background-image: url("../../scoretrackr-bg-grey.svg");
  // width: 100%;
  // justify-content: space-between;
  height: inherit;
  // overflow: auto;
}
@import 'src/custom.scss';
@import "~bootstrap/scss/bootstrap";
