.playersDiv {
    display: flex;
    max-width: fit-content;
    margin: 10px auto;
    max-height: 32px;
}

.playerInput {
    height: max-content;
}

.playersIcon {
    margin-right: 5px;
}

.removePlayer {
    margin-left: 5px;
}