/* .toggle-radio {
  margin: 1em;
  margin-bottom: 0.25em;
}

.toggle-radio {
  margin: 0px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.toggle-options {
  background-color: grey !important;

  border-color: grey !important;
}

.toggle-options.active {
  background-color: grey !important;

  border-color: grey !important;
}

.toggle-options-active {
  background-color: blue !important;
  border-color: blue !important;
}
.toggle-options-active.active {
  background-color: blue !important;
  border-color: blue !important;
}

.btn-group-toggle {
    list-style: none;
} */

.players-container {
    display: flex;
    flex-direction: column;
    margin: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    
  }