@import 'src/custom.scss';

.modal-content {
  border: 0px !important;
  border-radius: 0 !important;

  .footer {
    border-radius: 0;
    border-top: 0px $dark solid;
  }

  .header {
    border-radius: 0;
    border-bottom: 0px $success solid;
  }
}

.modal-dialog {
  border-radius: 0;
}

.toggle .btn.active {
  background-color: $primary;
  color: white;
  border-color: $primary;
}

.toggle .btn {
  background-color: $light;
  color: black;
  border-color: $light;
}

.toggle .btn:hover {
  background-color: $light;
  color: black;
  border-color: $light;}

.toggle .btn.active:hover {
  background-color: $primary;
  color: white;
  border-color: $primary;}

.toggle input {
  display: none;
}

.toggle label {
  // font-size: xx-large !important;
}

.toggle .btn {
  // padding: 0 !important;
  margin: 0 !important;
  //   font-size: x-large !important;
}
