.scoretrackerButtonDiv {
  display: flex;
  flex-flow: column nowrap;
}
.buttonMarginBottom5 {
  margin-bottom: 5px;
}

.pressButton {
  margin-left: 20px;
}

.endRoundButton {
  align-self: flex-end;
  width: fit-content;
}

.firstHeaderCell {
  width: 65px;
}

.tableCellWidth {
  width: 55px;
}

.matchTableCellWidth {
  width: 50px;
}

.scoreTableRowHeight {
  height: 50px;
}

.userPressedTableFont {
  color: green;
  font-size: small;
}

/*-----------------------Generic CSS classes-----------------------------*/
.justifyContent_flexEnd {
  justify-content: flex-end;
}

.justifyContent_spaceBetween {
  justify-content: space-between;
}

.displayFlex {
  display: flex;
}

.overflowScroll {
  overflow: auto;
}

.middleAlignment {
  vertical-align: middle;
}

.centerText {
  text-align: center;
}

/*----------------------PlayerHandlerModal-----------------------------*/
.addEditPlayerModal_Footer {
  flex-wrap: unset !important;
  justify-content: unset !important;
  flex-direction: column !important;
  align-items: unset !important;
}

.removePlayerButton {
  align-self: stretch;
}
